
<!-- {% load static %}
<html>

<head>
	<title>Video Live Stream</title>
	<style>
	.vl {
		border-left: 8px solid red;
		height: 520px;
		position: absolute;
		left: 50%;
		margin-left: -3px;
		top: 0;
	}
	</style>
	<style>
	* {
		box-sizing: border-box;
	}
	
	.column {
		float: left;
		width: 9%;
		padding: 5px;
	}
	/* Clearfix (clear floats) */
	
	.row::after {
		content: "";
		clear: both;
		display: table;
	}
	</style>
	<script type="text/javascript" src="scripts.js">
	</script>
 
	<link rel="stylesheet" href="styles.css"> </head>

<body>
	<div style="float:top; height:50%; margin-top:0px;">
		<div style="float:right; width:50%; margin-left:0px;">
			<h3><p>|  WEBCAM FEED   </p></h3> <img src="{% url 'webcam_feed' %}" width="750" height="450"> </div>
		<div class="vl"></div>
		<div style="float:left; width:50%; margin-left:0px;">
			<h1>Please enter your pin's first character By making use of the gestures given below</h1>
			<button type="Submit" class="btn btn-primary btn-lg"> <a href=pin>NEXT</a></button>
			<form method="post" id="task-form">
				{% csrf_token %}
				<input type="hidden" name="task" id="task" value =1>
				<button type="submit">ENTER</button>
			</form>
		  
			<script src="https://code.jquery.com/jquery-3.5.1.js" 
				  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
					crossorigin="anonymous"></script>
		  
			<script type="text/javascript">
			$(document).on('submit','#task-form',function(e){
				e.preventDefault();
				$.ajax({
					type:'POST',
					url:'{% url "enter" %}',
					data:
					{
						task:$("#task").val(),
						csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
					},
					success:function(){
						  alert('Saved');
							}
					})
				});
			</script>
		</div>
	</div>









































































































	
	<hr size="8" width="100%" color="red">
	<div style="float:bottom; height:50%; margin-bottom:50px;">
		<h1>Gestures</h1>
		<div class="row">
			<div class="column">
				<figure> <img src="{% static 'images/0.jpg'%}" alt="GESTURE FOR ONE" style="width:150px;height:150px">
					<figcaption>ZERO</figcaption>
				</figure>
			</div>
			<div class="column">
				<figure> <img src="{% static 'images/1.jpg'%}" alt="GESTURE FOR ONE" style="width:150px;height:150px">
					<figcaption>ONE</figcaption>
				</figure>
			</div>
			<div class="column">
				<figure> <img src="{% static 'images/2.jpg'%}" alt="GESTURE FOR ONE" style="width:150px;height:150px">
					<figcaption>TWO</figcaption>
				</figure>
			</div>
			<div class="column">
				<figure> <img src="{% static 'images/3.jpg'%}" alt="GESTURE FOR ONE" style="width:150px;height:150px">
					<figcaption>THREE</figcaption>
				</figure>
			</div>
			<div class="column">
				<figure> <img src="{% static 'images/4.jpg'%}" alt="GESTURE FOR ONE" style="width:150px;height:150px">
					<figcaption>FOUR</figcaption>
				</figure>
			</div>
			<div class="column">
				<figure> <img src="{% static 'images/5.jpg'%}" alt="GESTURE FOR ONE" style="width:150px;height:150px">
					<figcaption>FIVE</figcaption>
				</figure>
			</div>
			<div class="column">
				<figure> <img src="{% static 'images/6.jpg'%}" alt="GESTURE FOR ONE" style="width:150px;height:150px">
					<figcaption>SIX</figcaption>
				</figure>
			</div>
			<div class="column">
				<figure> <img src="{% static 'images/7.jpg'%}" alt="GESTURE FOR ONE" style="width:150px;height:150px">
					<figcaption>SEVEN</figcaption>
				</figure>
			</div>
			<div class="column">
				<figure> <img src="{% static 'images/8.jpg'%}" alt="GESTURE FOR ONE" style="width:150px;height:150px">
					<figcaption>EIGHT</figcaption>
				</figure>
			</div>
			<div class="column">
				<figure> <img src="{% static 'images/9.jpg'%}" alt="GESTURE FOR ONE" style="width:150px;height:150px">
					<figcaption>NINE</figcaption>
				</figure>
			</div>
		</div>
	</div>
</body>

</html> -->
{% load static %}

<html>
<head>
<title>ATM Security</title>
<link rel="stylesheet" href="{% static 'gesturestyle.css' %}">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" >
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
</head>
<body>

<section id="nav-bar">

    <nav class="navbar navbar-expand-lg navbar-light">
      
        <a class="navbar-brand" href="#" style="font-size: 30px;  color: white;">STEP 2: PIN VERIFICATION</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#top">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about" >ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#footer" >CONTACTS</a>
            </li>
          </ul>
        </div>
      </nav>






</section>


<!----------------------------------banner section---------------------------------->
<section id="banner">
<div class="container">
    <div class="row">
        <div class="col-md-6" >
            <p class="promo-title" >Please enter your pin by making use of the gestures given below</p>
            <input type="hidden" name="task" id="task" value =1>

            
			<form method="post" id="task-form">
				{% csrf_token %}
				<input autofocus type="hidden" name="task" id="task" value =1>
				<button type="submit" class="button" name="button">START</button>
			</form>
			<button type="button" class="button" name="button"><a href="pin" class="hlink">Next</a></button>
		  
			<script src="https://code.jquery.com/jquery-3.5.1.js" 
				  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
					crossorigin="anonymous"></script>
		  
			<script type="text/javascript">
			$(document).on('submit','#task-form',function(e){
				e.preventDefault();
				function play() {
					var audio = new Audio("{% static 'beep.mp3' %}");
					audio.load();
					audio.play();
				  }
				$.ajax({
					type:'POST',
					url:'{% url "enter" %}',
					data:
					{
						task:$("#task").val(),
						csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
					},
					success:function(){
						  console.log('DONE');
						  play();
							}
					})
				});
			</script>
            <!--<p>Whenever you suspect that a person is lost please register on our website and upload the information ,
                      so that we can bring smile on the face of the family members by reuniting their loved ones</p>-->
            <br>
            <img src="{% static 'images/gesture.png' %}" class="gestures">
                    
        </div>
        <div class="col-md-6">
            <p class="webcam">Webcam feed</p>
          <!--<iframe src="atm.gif" width="480" height="480" frameBorder="0" class="giphy-embed" scrolling="no" overflow="hidden" ></iframe>-->
          <!--<img src="C:/Users/nehab/Desktop/project/images/family.png" class="img-fluid">-->
            <img src="{% url 'webcam_feed' %}" width="650" height="450">
            <!--src=""-->
        </div>
    </div>
</div>
<img src="{% static 'images/WAVE.png' %}" class="bottom-img">
</section>


<!-----------------------------------Services Section-------------------------->

<!---------------------------foooter section--------------------------->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4" footer-box>
        <p>Contact emai id</p>
        <p>yashika.kuckian@gmail.com</p>
        <p>masiheasther@gmail.com</p>
        <p>Tel no: 1234567890</p>
      </div>
    </div>
  </div>
</section>

<!---------------------------Smooth scroll----------------------->
<script src="smooth-sscroll.js"></script>
<script>
	var scroll = new SmoothScroll('a[href*="#"]');
</script>
</body>
</html>